.App-conten {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;

  flex-flow: wrap;
}
img {
  width: 10rem;
  height: 10rem;
  object-fit: content;
}

.grid {
  width: 50%;
}
button {
  width: 8rem;
  height: 3rem;
}
section {
  margin-top: 3rem;
}
.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.wrappers {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 100%;

  gap: 10px;
}
.home {
  display: inline;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
}
:root {
  --result-colums: 2;
}
.list-gifs {
  column-count: var(--result-colums);
  column-gap: 5rem;
}
.contaier-git {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}
@media (min-wisth: 600px) {
  :root {
    --result-colums: 3;
  }
}
@media (min-wisth: 800px) {
  :root {
    --result-colums: 4;
  }
}
